body{
    background-color:#3c3760;
}

h1{
    text-align:center;
    color:#e9d5da;
    font-family:'Roboto';
    font-size:50px;
}

h3{
    text-align:center;
    color:#9585ac;
    font-family:'Lato';
    font-size:22px;
}



table{
    margin: 0 auto;
    text-align:center;
    color:#9585ac;
    font-family:'Lato';
    font-size:25px;
    padding: 25px; /* this adds space above the entire table */
    text-overflow: ellipsis;
    
}


td{
    background-color:#4D4C7D;
    border-radius: 10px;
    padding: 20px;
}

td:hover {
    background-color:#e9d5da;
}

button{
    margin: 0 auto;
    text-align:center;
    border-radius: 5px;
    font-family:'Roboto';
    font-size:25px;
    cursor: pointer;
    display:flex;
    justify-content: center;
}


div{
    text-align:center;
    height:150px;
    width:150px;
    display:flex;
    justify-content: center;
    align-content:center;
    flex-direction:column;
}