body{
    background-color:#3c3760;
    background-image: url("/assets/microbes.svg");
    background-repeat: tile;
    background-size: 750px;
}

h1{
    text-align:center;
    color:#e9d5da;
    font-family:'Roboto';
    font-size:13vw;
}

h3{
    text-align:center;
    color:#9585ac;
    font-family:'Lato';
    font-size: 5vw;
    padding: 0;
}

h4{
    text-align:center;
    color:#9585ac;
    font-family:'Lato';
    font-size:3vw;
}

table{
    color:#baa8d1;
    font-family:'Lato';
    padding-top: 1vw; /* this adds space above the entire table */
    padding-bottom: 25px;

    display:flex;
    justify-content: center;
}

td{
    padding: 1px;
    border-radius: 7px;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

#overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20vw;
    color: #F2EB9B;
    font-weight: 900;
    font-family: 'Lato';
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/* .bingo:hover{
    background-color: #e9d5da;
    color: #4D4C7D;
    cursor: pointer;
} */

/*entire bingo box*/
.bingo{
    background-color:#4D4C7D;
    border-radius: 7px;

    display:flexbox;
    justify-content: center;
    align-content:center;
    flex-direction:column;
    font-size: 22px;

    max-height:20vw;
    max-width:20vw;
    height: 17vw;
    width: 17vw;
}

button{
    margin: 0 auto;
    text-align:center;
    border-radius: 5px;
    font-family:'Roboto';
    font-size:18px;
    cursor: pointer;
    display:flex;
    justify-content: center;
}

/*suggestion box*/
.suggestion{
    text-align:center;
    padding-bottom:0%;
}

.suggestion-box{
    font-size:5vw;
    border-radius: 7px;
    color:#4D4C7D;
    font-weight: bold;
    height: 10vw;
    width: 80%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
}

.suggBoxLabel {
    text-align:center;
    color:#9585ac;
    font-family:'Lato';
    font-size:4vw;
    
}


/* on click behaviour*/
.score{
    background-color: #e9d5da;
    color: #4D4C7D;
    font-weight: bold;
}

/*leaderboard icon and such*/
.leaderboard{
    position: fixed;
    top: 0px;
    right: 0px; 
    padding: 10px;
}

.ldButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

/*modal modal modal*/
.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
  }

.modal-header {
    position:relative;
    background-color: #4D4C7D;
    padding: 10px;
    margin: auto;
    width: 65%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
  }

#modal-header-font {
      font-size: 28px;
  }
  
.modal-content {
    position: relative; 
    background-color: #e9d5da;
    padding: 10px; 
    margin: auto; 
    width: 65%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
  }
  
.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
  }
  
.close-btn:hover {
    color: darkgray;
  }
  
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }


